TZ=Europe/Lisbon
IMMICH_VERSION=release
IMMICH_PORT=<IMMICH_PORT>
UPLOAD_LOCATION=/mnt/truenas/immich/library
MODEL_CACHE_LOCATION=/mnt/truenas/immich/model-cache
DB_HOSTNAME=<TRUENAS_IP>
DB_PORT=<PUBLISHED_POSTGRES_PORT>
DB_USERNAME=<IMMICH_DB_USER>
DB_PASSWORD=<IMMICH_DB_PASSWORD>
DB_DATABASE_NAME=<IMMICH_DB_NAME>
REDIS_HOSTNAME=redis

VW_DATA_LOCATION=/mnt/truenas/vaultwarden
VW_PORT=<VAULTWARDEN_PORT>
VW_DOMAIN=https://<VAULTWARDEN_DOMAIN>
VW_UID=<VAULTWARDEN_UID>
VW_GID=<VAULTWARDEN_GID>
WT_NOTIF_URL=<SHOUTRRR_NOTIFICATION_URL>

# VM paths: config is local; library points to mounted TrueNAS storage.
SYNCTHING_CONFIG_LOCATION=<SYNCTHING_CONFIG_VM_PATH>
SYNCTHING_LOCATION=<SYNCTHING_LIBRARY_VM_PATH>
SYNCTHING_GUI_PORT=8384
SYNCTHING_SYNC_PORT=22000
PUID=<SYNCTHING_UID>
PGID=<SYNCTHING_GID>
